<div class="col-md-6">
  <% if @card == nil %>
    <b>Нет карточек для проверки</b>
  <% else %>
    <h4><%= @card.translated_text %></h4>
    <%= simple_form_for card do |f| %>
      <%= hidden_field_tag 'id', @card.id %>
      <%= text_field_tag :original_text, nil, placeholder: 'Введите перевод' %>
      <%= f.button :submit, 'Проверить' %>
    <% end %>
  <% end %>
</div>
