<div class="col-md-6">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert">
      <%= value %>
    </div>
  <% end %>

  <% if card.present? %>
    <h4><%= card.translated_text %></h4>
    <%= form_tag check_path, method: :put do %>
      <%= hidden_field_tag :id, card.id %>
      <%= text_field_tag :original_text, nil, placeholder: 'Введите перевод' %>
      <button>Проверить</button>
    <% end %>
  <% else %>
    <b>Нет карточек для проверки</b>
  <% end %>
</div>
