<div class="row">
  <div class="col-md-6">
    <h3 class="text-center"> 
      <%=t ('.lead') %>
    </h3>
    <b>
      <%= t('decks.index.current_deck') %>:
      <% if current_user.current_deck.present? %>
        <%= current_user.current_deck.name %>
      <% else %>
        <%= t('.not_set') %>
      <% end %>
    </b>
  </div>
  <div class="col-md-6">
    <% if @card.present? %>
      <%= simple_form_for :check_data, url: check_path, html: { id: "check_form", class: "form-inline" } do |f| %>
        <p class="bg-danger"><%= @card.translated_text %></p>
        <%= f.input_field :card_id, as: :hidden, value: @card.id %>
        <%= f.input_field :response_time, as: :hidden, id: "timer" %>
        <%= f.input_field :user_translation, label: false, class: "form-control" %>
        <%= f.button :submit, id: "check-button", class: "btn btn-default" %><br><br>
        <%= image_tag @card.picture_url, class: "img-rounded" %>
      <% end %>
    <% else %>
      <b><%= t ('.no_cards_for_review') %></b>
    <% end %>
  </div>
</div>
