<div class="row">
  <div class="col-md-6">
    <h3 class="text-center"> 
      <%=t :lead %>
    </h3>
    <b><%= t(:current_deck) %>:
      <% if current_user.current_deck.present? %>
        <%= current_user.current_deck.name %>
      <% else %>
        <%= t(:not_set) %>
      <% end %>
      </b>
  </div>
  <div class="col-md-6">
    <% if @card.present? %>
      <h4><p class="bg-danger"><%= @card.translated_text %></p></h4>
      <%= form_tag check_path, method: :put, class: "form-inline" do %>
        <%= hidden_field_tag :card_id, @card.id %>
        <%= text_field_tag :user_translation, nil, placeholder: t(:check_translation), class: "form-control" %>
        <%= button_tag t(:try_it), class: "btn btn-primary" %><br><br>
        <%= image_tag @card.picture_url, class: "img-rounded" %><br>
      <% end %><br>
    <% else %>
      <b><%= t :no_cards_for_review  %></b><br>
    <% end %>
  </div>
</div>
