<div class="container">
  <section class="row">
    <div class="col-md-4">
      <b>Слово-оригинал</b>
      <h4><%= @card.original_text %></h4>
    </div>
    <div class="col-md-4">
      <b>Перевод</b>
      <h4><%= @card.translated_text %></h4>
    </div>
    <div class="col-md-4">
      <b>Пересмотреть:</b>
      <h4><%= @card.review_date %></h4>
    </div>
  </section>
  <section class="row">
    <div class="col-md-6">
      <%= image_tag @card.card_pic_url %>
      <%= link_to "Редактировать", edit_card_path(@card.id) %>
    </div>
  </section>
</div>
      
