<div class="container">
  <section class="row">
    <div class="col-md-3">
      <b><%= t :original %></b>
      <h4><%= @card.original_text %></h4>
    </div>
    <div class="col-md-3">
      <b><%= t :translation %></b>
      <h4><%= @card.translated_text %></h4>
    </div>
    <div class="col-md-3">
      <b><%= t :review_date %></b>
      <h4><%= @card.review_date %></h4>
    </div>
    <div class="col-md-3">
      <%= image_tag @card.picture_url(:thumb), class: "img-circle" %><br>
      <%= link_to t('action_links.edit'), edit_card_path(@card.id) %>
    </div>
  </section>
</div>
