<div class="container">
  <section class="row">
    <div class="col-md-6">
      <%= simple_form_for current_user, url: user_profile_path do |f| %>
        <%= f.input :email, input_html: { class: "form-control" } %><br>
        <%= f.input :password, input_html: { class: "form-control" } %><br>
        <%= f.input :password_confirmation, input_html: { class: "form-control" } %><br>
        <%= f.button :submit, class: "btn-primary" %><br>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= simple_form_for current_user, url: user_profile_path do |f| %>
        <%= f.input :locale, collection: I18n.available_locales, include_blank: false, input_html: { class: "form-control" } %><br>
        <%= f.button :submit, class: "btn-primary" %>
      <% end %>
  </section>
</div>
