<div class="container">
  <section class="row">
    <div class="col-md-6">
      <%= simple_form_for current_user, url: user_profile_path do |f| %>
        <%= f.text_field :email, label: false, placeholder: t(:new_email), class: "form-control" %><br>
        <%= f.password_field :password , label: false, placeholder: t(:new_password), class: "form-control" %><br>
        <%= f.password_field :password_confirmation, label: false, placeholder: t(:new_password_again), class: "form-control" %><br>
        <%= f.button :submit, t(:save_button), class: "btn-primary" %><br>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= form_tag change_user_locale_path, method: :put do %>
        <%= select_tag :new_locale, options_for_select([["english", "en"],["russian", "ru"]]), class: "form-control" %>
        <%= submit_tag t(:save_button), class: "btn-primary" %>
      <% end %>
  </section>
</div>
