<div class="container">
  <section class="row">
    <div class="col-md-6">
      <%= simple_form_for @user, url: signup_path do |f| %>
        <%= f.text_field :email, label: false, placeholder: 'Эл. почта' %><br>
        <%= f.password_field :password , label: false, placeholder: 'Пароль'%><br>
        <%= f.password_field :password_confirmation, label: false, placeholder: 'Еще раз пароль' %><br>
        <%= f.button :submit, 'Сохранить' %><br>
      <% end %>
    </div>
  </section>
</div>
