<!DOCTYPE html>
<head>
  <title><%= t('mainbar.logo') %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>

<body>
  <section id="main-container">
    <div class="row">
      <% if current_user %>
        <div id="upperbar" class="col-md-6">
          <%= link_to t('upperbar.decks_settings'), decks_path %>
          |
          <%= link_to t('upperbar.user_settings'), user_profile_path %>
          |
          <%= link_to t('upperbar.logout'), logout_path, method: :destroy %>
        </div>
      <% else %>
        <div class="col-md-6">
          <%= link_to t('upperbar.signup'), signup_path %>
          |
          <%= link_to t('upperbar.login'), login_path %>
        </div>
        <div class="col-md-6">
          <%= link_to t('localebar.en'), login_path(locale: :en) %>
          |
          <%= link_to t('localebar.ru'), login_path(locale: :ru) %>
        </div>
      <% end %>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="navbar-brand">
            <%= link_to t('mainbar.logo'), root_path %>
          </h1>
        </div>
          <ul class="nav navbar-right">
            <li>
              <%= link_to t('mainbar.all_cards'), cards_path %>
            </li>
            <li>
              <%= link_to t('mainbar.add_card'), new_card_path %>
            </li>
          </ul>
      </div>
    </nav>
    <div class="row">
      <div id="flash_wrapper" class="col-md-12">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </section>
</body>
</html>
