<!DOCTYPE html>
<head>
  <title><%= t :logo %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>

<body>
  <section id="main-container">
    <div class="row">
      <% if current_user %>
        <div class="col-md-6">
          <%= link_to t(:decks_management), decks_path %>
          |
          <%= link_to t(:profile_settings), user_profile_path %>
          |
          <%= link_to t(:log_out), logout_path, method: :destroy %>
        </div>
      <% else %>
        <div class="col-md-6">
          <%= link_to t(:sign_up), signup_path %>
          |
          <%= link_to t(:log_in), login_path %>
        </div>
        <div class="col-md-6">
          <%= link_to "EN", change_locale_path(:en) %>
          |
          <%= link_to "RU", change_locale_path(:ru) %>
        </div>
      <% end %>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="navbar-brand">
            <%= link_to t(:logo), root_path %>
          </h1>
        </div>
          <ul class="nav navbar-right">
            <li>
              <%= link_to t(:all_cards), cards_path %>
            </li>
            <li>
              <%= link_to t(:add_card), new_card_path %>
            </li>
          </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>" role="alert">
            <%= value.html_safe %>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </section>
</body>
</html>
