<!DOCTYPE html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>

<body>
  <section id="main-container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="navbar-brand">
            <%= link_to 'Флэшкарточкер', root_path %>
          </h1>
        </div>
          <ul class="nav navbar-right">
            <li>
              <%= link_to 'Все карточки', cards_path %>
            </li>
            <li>
              <%= link_to 'Добавить карточку', new_card_path %>
            </li>
          </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>" role="alert">
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </section>
</body>
</html>
